# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Price Monitoring\PWA TUTORIAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
